<?xml version="1.0" encoding="ISO-8859-5"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Onliner suite">
    <listeners>
        <listener class-name="retryAnalyzer.AnnotationTransformer"/>
    </listeners>
    <test name="Filters">
        <classes>
            <class name="tests.FilterTest"/>
        </classes>
    </test>
    <test name="Hyperlink">
        <classes>
            <class name="tests.RedirectionPageTest"/>
        </classes>
    </test>
    <test name="Sign in/up">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="Search">
        <classes>
            <class name="tests.SearchFieldTest"/>
        </classes>
    </test>
    <test name="Cart">
        <classes>
            <class name="tests.ShoppingCartTest"/>
        </classes>
    </test>
</suite>
